<%-include ("public/header.ejs") %> 

    <!--Start Page Header Section-->
    <section class="page-header" style="background-image: url(public/images/background/page-header-bg.jpg);">
        <div class="container">
            <h2>关于我们</h2>
        </div>
    </section>
    <!--End Page Header Section-->
    

    <!-- Start About Two Section --> 
    <section class="about-tow-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="about-two-left-content wow slideInLeft" data-wow-delay="100ms">
                        <div class="about-two-sec-image">
                           <div class="about-two-sec-image-bg-1" style="background-image: url(public/images/about/about-2--pattern-1.png)"></div>
                           <div class="about-two-sec-image-bg-2" style="background-image: url(public/images/about/about-2--pattern-2.png)"></div>
                            <img src="public/images/about/about-2-img-1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="about-two-right-content">
                        <div class="about-two-title">
                            <h4 class="sub-title-shape-left section_title-subheading">关于我们</h4>
                            <h2>湖北驰骏工程项目管理有限公司</h2>
                            <p class="about-two-title-text">由英山县市场监督管理局核准于2021年六月注册登记，是依法设立具有独立法人资格的工程造价咨询、招标代理和政府采购资质的中介机构。公司注册资本贰佰万元，办公场地300平方米。</p>
                        </div>
                        <div class="about-tow-experience-years style-two">
                            <div class="about-tow-experience-years-icon">
                                <span class="flaticon-medal"></span>
                            </div>
                            <div class="about-tow-experience-years-text">
                                <h2>25</h2>
                                <p>年行业经验</p>
                            </div>
                        </div>
                        <div class="about-two-bottom-content">
                            <p class="about-two-bottom-text">公司自成立以来，始终坚持质量第一、服务第一的企业宗旨，勿以事小而轻心、勿以善小而不为的企业理念，秉承存好心、说好话、做好人、行好事的企业文化，致力于成为受人尊敬的企业而努力。 公司现有职员12人，具有中级以上各类专业资格5人(其中:高级工程师2人、工程师3人、），注册造价师等专职人员5人，具有国家建设部颁发的工程造价咨询、工程招标代理和政府采购代理资质。</p>
                            <h3>袁丽 - <span> CEO & 公司创始</span></h3>
                        </div>
                        <div class="about-two-btn">
                            <a href="" class="theme-btn">关于我们</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>    
    <!-- End About Two Section --> 
    
   <!--Start Funfacts One Section --> 
    <section class="funfacts-one-section" style="background-image: url(public/images/background/funfact-1-bg.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <!--Funfacts One Single-->
                    <div class="funfacts-one-single wow fadeInUp" data-wow-delay="100ms">
                        <div class="icon">
                            <span class="flaticon-like"></span>
                        </div>
                        <div class="content count-box">
                            <h2>
                                <span class="timer" data-from="1" data-to="69" data-speed="5000" data-refresh-interval="50">69</span>
                            </h2>
                            <p>主导项目</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <!--Funfacts One Single-->
                    <div class="funfacts-one-single wow fadeInUp" data-wow-delay="200ms">
                        <div class="icon">
                            <span class="flaticon-architect"></span>
                        </div>
                        <div class="content count-box">
                            <h2>
                                <span class="timer" data-from="1" data-to="12" data-speed="5000" data-refresh-interval="50">12</span>
                            </h2>
                            <p>名专业造价工程师</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <!--Funfacts One Single-->
                    <div class="funfacts-one-single wow fadeInUp" data-wow-delay="300ms">
                        <div class="icon">
                            <span class="flaticon-medal"></span>
                        </div>
                        <div class="content count-box">
                            <h2>
                                <span class="timer" data-from="1" data-to="26" data-speed="5000" data-refresh-interval="50">26</span>
                            </h2>
                            <p>张资质证书</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <!--Funfacts One Single-->
                    <div class="funfacts-one-single wow fadeInUp" data-wow-delay="400ms">
                        <div class="icon">
                            <span class="flaticon-carbon"></span>
                        </div>
                        <div class="content count-box">
                            <h2>
                                <span class="timer" data-from="1" data-to="64" data-speed="5000" data-refresh-interval="50">64</span>
                            </h2>
                            <p>累计工程规模（亿）</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Funfacts One Section --> 
           
    <!--Start Team One Section -->   
    <section class="team-one-section">
        <div class="container">
           <div class="thm-section-title text-center">
                <h4 class="sub-title-shape-left section_title-subheading">我们的团队</h4>
               <h2>专业造价工程师</h2>
           </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <!--Team One Single-->
                    <div class="team-one-single wow fadeInLeft" data-wow-delay="100ms">
                        <div class="team-one-img">
                            <img src="public/images/team/team-1-img-1.jpg" alt="">
                            <div class="team-one-hover">
                                <div class="team-one-social">
                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-one-content">
                            <h3>DAVID PARKER</h3>
                            <p>Engineer</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <!--Team One Single-->
                    <div class="team-one-single wow fadeInLeft" data-wow-delay="200ms">
                        <div class="team-one-img">
                            <img src="public/images/team/team-1-img-2.jpg" alt="">
                            <div class="team-one-hover">
                                <div class="team-one-social">
                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-one-content">
                            <h3>RICARDO GOMEZ</h3>
                            <p>Engineer</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <!--Team One Single-->
                    <div class="team-one-single wow fadeInLeft" data-wow-delay="300ms">
                        <div class="team-one-img">
                            <img src="public/images/team/team-1-img-3.jpg" alt="">
                            <div class="team-one-hover">
                                <div class="team-one-social">
                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-one-content">
                            <h3>PETER SANDLER</h3>
                            <p>Engineer</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6">
                    <!--Team One Single-->
                    <div class="team-one-single wow fadeInLeft" data-wow-delay="400ms">
                        <div class="team-one-img">
                            <img src="public/images/team/team-1-img-4.jpg" alt="">
                            <div class="team-one-hover">
                                <div class="team-one-social">
                                    <a href="#"><i class="fab fa-facebook-square"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="team-one-content">
                            <h3>JAMES SMITH</h3>
                            <p>Engineer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Team One Section -->
           
    <!--Start video Two Section --> 
    <!-- <section class="video-two-section" style="background-image: url(public/images/background/video-sec-two-bg.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="video-two-sec-inner">
                        <div class="video-two-sec-icon">
                            <a href="https://www.youtube.com/watch?v=i9E_Blai8vk" class="video-two-sec-btn video-popup"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="video-two-sec-content">
                            <h2>We offer best <span>industrial services.</span> <br> 25+ years of experience</h2>
                            <p>Manufacturing Technology Supports Factories around </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--End video Two Section --> 
    
    <!--Start History One Section -->     
    <!-- <section class="history-one-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="history-one-sec-content">
                        <div class="history-one-sec-title">
                            <h4 class="sub-title-shape-left section_title-subheading">Company History</h4>
                            <h2>Opportunities & <br> Importance of factory History</h2>
                        </div>
                        <div class="history-one-sec-date">
                            <h3>1938 - 2020</h3>
                        </div>
                        <div class="history-one-text">
                            <p>primary business activities. ... For example, while an automobile manufacturer might have a financing division that contributes 10% to the firm's overall revenues,</p>
                        </div>
                        <div class="history-one-btn">
                            <a href="#" class="theme-btn">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="history-one-video-sec wow slideInRight" data-wow-delay="100ms">
                        <div class="history-one-video-img">
                           <div class="history-one-video-img-bg" style="background-image: url(public/images/resource/history-1-video-img-2.jpg)"></div>
                           <div class="history-one-video-img-shape"></div>
                            <img src="public/images/resource/history-1-video-img-1.jpg" alt="">
                            <div class="history-one-video-btn-box">
                                <a href="https://www.youtube.com/watch?v=i9E_Blai8vk" class="history-one-video-btn video-popup"><i class="fa fa-play"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--End History One Section -->
    
    <!--Start Brand One Section -->     
    <!-- <div class="brand-one">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="brand-one-carousel owl-carousel">
                            <div class="single_brand_item">
                                <a href="#"><img src="public/images/brand/brand-1-1.jpg" alt="brand"></a>
                            </div>
                            <div class="single_brand_item">
                                <a href="#"><img src="public/images/brand/brand-1-2.jpg" alt="brand"></a>
                            </div>
                            <div class="single_brand_item">
                                <a href="#"><img src="public/images/brand/brand-1-3.jpg" alt="brand"></a>
                            </div>
                            <div class="single_brand_item">
                                <a href="#"><img src="public/images/brand/brand-1-4.jpg" alt="brand"></a>
                            </div>
                            <div class="single_brand_item">
                                <a href="#"><img src="public/images/brand/brand-1-5.jpg" alt="brand"></a>
                            </div>
                            <div class="single_brand_item">
                                <a href="#"><img src="public/images/brand/brand-1-1.jpg" alt="brand"></a>
                            </div>
                            <div class="single_brand_item">
                                <a href="#"><img src="public/images/brand/brand-1-2.jpg" alt="brand"></a>
                            </div>
                            <div class="single_brand_item">
                                <a href="#"><img src="public/images/brand/brand-1-3.jpg" alt="brand"></a>
                            </div>
                            <div class="single_brand_item">
                                <a href="#"><img src="public/images/brand/brand-1-4.jpg" alt="brand"></a>
                            </div>
                            <div class="single_brand_item">
                                <a href="#"><img src="public/images/brand/brand-1-5.jpg" alt="brand"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    <!--End Brand One Section -->  
    
    <!--Start Newsletter One Section --> 
    <!-- <section class="newsletter-one-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="newsletter-one-sec-inner">
                        <div class="title">
                            <h2>Newsletter Signup</h2>
                            <p>Sign up for our newsletter to get Updte</p>
                        </div>
                        <div class="newsletter-one-input-box">
                            <input type="Email" placeholder="Email Address">
                            <button type="submit" class="button"><i class="fa fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--End Newsletter One Section --> 
    <%-include ("public/footer.ejs") %> 