    <%-include ("public/header.ejs") %> 

    <!--Start Page Header Section-->
    <section class="page-header" style="background-image: url(public/images/background/page-header-bg.jpg);">
        <div class="container">
            <h2>Blog Classic</h2>
            <ul class="thm-breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><span>></span></li>
                <li><span>Blog</span></li>
            </ul>
        </div>
    </section>
    <!--End Page Header Section-->
    
    <!--Start Blog Classic Section-->
    <section class="blog-classic-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-lg-7">
                    <div class="blog-classic-content">
                        <!--Blog Classic Single-->
                        <div class="blog-classic-single">
                            <div class="blog-classic-image">
                                <img src="public/images/Blog/blog-classic-img-1.jpg" alt="">
                                <div class="blog-classic-date">
                                    <a href="#">02 May, 2020</a>
                                </div>
                            </div>
                            <div class="blog-classic-content-box">
                                <ul class="blog-classic-meta">
                                    <li><a href="#"><i class="far fa-user-circle"></i> Admin</a></li>
                                    <li><a href="#"><i class="far fa-comments"></i> 2 Comments</a>
                                    </li>
                                </ul>
                                <div class="blog-classic-title">
                                    <h3><a href="#">Manufacturer might have <br> a financing</a></h3>
                                </div>
                                <div class="blog-classic-text">
                                    <p>Manufacturing industries are those that engage in the   transformationof goods, materials or substances into new products. The transformational process can be physical, chemical or mechanical. Manufacturers often have plants, mills or factories that produce goods for public consumption</p>
                                </div>
                                <div class="blog-classic-btn">
                                    <a href="#">Read More <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--Blog Classic Single-->
                        <div class="blog-classic-single">
                            <div class="blog-classic-image">
                                <img src="public/images/Blog/blog-classic-img-2.jpg" alt="">
                                <div class="blog-classic-date">
                                    <a href="#">02 May, 2020</a>
                                </div>
                            </div>
                            <div class="blog-classic-content-box">
                                <ul class="blog-classic-meta">
                                    <li><a href="#"><i class="far fa-user-circle"></i> Admin</a></li>
                                    <li><a href="#"><i class="far fa-comments"></i> 2 Comments</a>
                                    </li>
                                </ul>
                                <div class="blog-classic-title">
                                    <h3><a href="#">Factories are at the heart <br> of manufacturing.</a></h3>
                                </div>
                                <div class="blog-classic-text">
                                    <p>Manufacturing industries are those that engage in the   transformationof goods, materials or substances into new products. The transformational process can be physical, chemical or mechanical. Manufacturers often have plants, mills or factories that produce goods for public consumption</p>
                                </div>
                                <div class="blog-classic-btn">
                                    <a href="#">Read More <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--Blog Classic Single-->
                        <div class="blog-classic-single">
                            <div class="blog-classic-image">
                                <img src="public/images/Blog/blog-classic-img-3.jpg" alt="">
                                <div class="blog-classic-date">
                                    <a href="#">02 May, 2020</a>
                                </div>
                            </div>
                            <div class="blog-classic-content-box">
                                <ul class="blog-classic-meta">
                                    <li><a href="#"><i class="far fa-user-circle"></i> Admin</a></li>
                                    <li><a href="#"><i class="far fa-comments"></i> 2 Comments</a>
                                    </li>
                                </ul>
                                <div class="blog-classic-title">
                                    <h3><a href="#">Factories are at the heart <br> of manufacturing.</a></h3>
                                </div>
                                <div class="blog-classic-text">
                                    <p>Manufacturing industries are those that engage in the   transformationof goods, materials or substances into new products. The transformational process can be physical, chemical or mechanical. Manufacturers often have plants, mills or factories that produce goods for public consumption</p>
                                </div>
                                <div class="blog-classic-btn">
                                    <a href="#">Read More <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <!--Blog Classic Single-->
                        <div class="blog-classic-single">
                            <div class="blog-classic-image">
                                <img src="public/images/Blog/blog-classic-img-4.jpg" alt="">
                                <div class="blog-classic-date">
                                    <a href="#">02 May, 2020</a>
                                </div>
                            </div>
                            <div class="blog-classic-content-box">
                                <ul class="blog-classic-meta">
                                    <li><a href="#"><i class="far fa-user-circle"></i> Admin</a></li>
                                    <li><a href="#"><i class="far fa-comments"></i> 2 Comments</a>
                                    </li>
                                </ul>
                                <div class="blog-classic-title">
                                    <h3><a href="#">Manufacturer might have <br> a financing</a></h3>
                                </div>
                                <div class="blog-classic-text">
                                    <p>Manufacturing industries are those that engage in the   transformationof goods, materials or substances into new products. The transformational process can be physical, chemical or mechanical. Manufacturers often have plants, mills or factories that produce goods for public consumption</p>
                                </div>
                                <div class="blog-classic-btn">
                                    <a href="#">Read More <i class="fa fa-arrow-circle-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="sidebar">
                        <div class="sidebar-single sidebar-search">
                           <h3 class="sidebar-title">Search</h3>
                            <form action="#" class="sidebar-search-form">
                                <input type="search" placeholder="Search">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        <div class="sidebar-single sidebar-category">
                            <h3 class="sidebar-title">Categories</h3>
                            <ul class="sidebar-category-list">
                                <li><a href="#"><i class="fa fa-angle-right"></i> Construcation <span>(15)</span></a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> factory <span>(10)</span></a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> Electrical <span>(12)</span></a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> Mechanical <span>(14)</span></a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> Welding <span>(15)</span></a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> Eco & Bio Power <span>(08)</span></a></li>
                            </ul>
                        </div>
                        <div class="sidebar-single sidebar-latest-news">
                            <h3 class="sidebar-title">Latest Posts</h3>
                            <ul class="sidebar-latest-news-list">
                                <li>
                                    <div class="sidebar-latest-news-image">
                                        <img src="public/images/blog/ln-1.jpg" alt="">
                                    </div>
                                    <div class="sidebar-latest-news-content">
                                       <h3><a href="#">Manufacturer might have a financing</a></h3>
                                       <p>02 May, 2020</p> 
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-latest-news-image">
                                        <img src="public/images/blog/ln-2.jpg" alt="">
                                    </div>
                                    <div class="sidebar-latest-news-content">
                                       <h3><a href="#">Manufacturer might have a financing</a></h3>
                                       <p>02 May, 2020</p> 
                                    </div>
                                </li>
                                <li>
                                    <div class="sidebar-latest-news-image">
                                        <img src="public/images/blog/ln-3.jpg" alt="">
                                    </div>
                                    <div class="sidebar-latest-news-content">
                                       <h3><a href="#">Manufacturer might have a financing</a></h3>
                                       <p>02 May, 2020</p> 
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-single sidebar-archive">
                            <h3 class="sidebar-title">Archive</h3>
                            <ul class="sidebar-archive-list">
                                <li><a href="#"><i class="fa fa-angle-right"></i> Construcation></a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> factory</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> Electrical</a></li>
                                <li><a href="#"><i class="fa fa-angle-right"></i> Electrical</a></li>
                            </ul>
                        </div>
                        <div class="sidebar-single sidebar-instagram">
                            <h3 class="sidebar-title">Instagram</h3>
                            <ul class="sidebar-instagram-list">
                                <li>
                                    <div class="instagram-img">
                                        <img src="public/images/Blog/instagram-img-1.jpg" alt="">
                                        <div class="sidebar-instagram-img-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="instagram-img">
                                        <img src="public/images/Blog/instagram-img-2.jpg" alt="">
                                        <div class="sidebar-instagram-img-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="instagram-img">
                                        <img src="public/images/Blog/instagram-img-3.jpg" alt="">
                                        <div class="sidebar-instagram-img-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="instagram-img">
                                        <img src="public/images/Blog/instagram-img-4.jpg" alt="">
                                        <div class="sidebar-instagram-img-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="instagram-img">
                                        <img src="public/images/Blog/instagram-img-5.jpg" alt="">
                                        <div class="sidebar-instagram-img-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="instagram-img">
                                        <img src="public/images/Blog/instagram-img-6.jpg" alt="">
                                        <div class="sidebar-instagram-img-hover">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-single sidebar-tag">
                            <h3 class="sidebar-title">Product Tags</h3>
                            <div class="sidebar-tags-list">
                                <a href="#">factory</a>
                                <a href="#">Metal</a>
                                <a href="#">Engine</a>
                                <a href="#">Construction</a>
                                <a href="#">Agriculture</a>
                                <a href="#">Mechanical</a>
                                <a href="#">Energy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="blog-pg-pagination blog-pg-classic">
                        <ul class="pg-pagination">
                            <li class="previous">
                                <a href="#" aria-label="Previous"><i class="fa fa-arrow-circle-left"></i></a>
                            </li>
                            <li class="count"><a href="#">01</a></li>
                            <li class="count"><a href="#">02</a></li>
                            <li class="count"><a href="#">03</a></li>
                            <li class="next">
                                <a href="#" aria-label="Next"><i class="fa fa-arrow-circle-right"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Blog Classic Section-->
       
    <!--Start Newsletter One Section --> 
    <section class="newsletter-one-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="newsletter-one-sec-inner">
                        <div class="title">
                            <h2>Newsletter Signup</h2>
                            <p>Sign up for our newsletter to get Updte</p>
                        </div>
                        <div class="newsletter-one-input-box">
                            <input type="Email" placeholder="Email Address">
                            <button type="submit" class="button"><i class="fa fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Newsletter One Section --> 
        
    <%-include ("public/footer.ejs") %> 