    <%-include ("public/header.ejs") %> 

    <!--Start Page Header Section-->
    <section class="page-header" style="background-image: url(public/images/background/page-header-bg.jpg);">
        <div class="container">
            <h2>联系我们</h2>
        </div>
    </section>
    <!--End Page Header Section-->
    
    <!--Start Contact One Section-->
    <section class="contact-one-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-6">
                    <div class="contact-one-image">
                        <img src="public/images/resource/contact-one-img-1.jpg" alt="">
                    </div>
                </div>
                <div class="col-xl-6">
                    <form action="inc/sendemail.php" class="contact-one-form">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="input-box">
                                    <input type="text" name="name" placeholder="你的名字">
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="input-box">
                                    <input type="email" name="email" placeholder="你的邮箱">
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="input-box">
                                    <input type="text" name="Subject" placeholder="标题">
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="input-box">
                                    <textarea name="message" placeholder="发送内容"></textarea>
                                </div>
                            </div>
                            <div class="col-xl-12">
                                <div class="contact__btn">
                                    <button type="submit" class="theme-btn">发送邮件</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--End Contact One Section-->
    
    <!-- <section class="google_map">
            <iframe src="https://map.baidu.com/search/%E6%B1%A4%E5%92%8C%E5%A4%9C%E5%B8%82/@12877582.745,3578074.36,19z?querytype=s&da_src=shareurl&wd=%E6%B1%A4%E5%92%8C%E5%A4%9C%E5%B8%82&c=340&src=0&wd2=%E9%BB%84%E5%86%88%E5%B8%82%E8%8B%B1%E5%B1%B1%E5%8E%BF&pn=0&sug=1&l=12&b=(12655366,2546136;12765958,2602008)&from=webmap&biz_forward=%7B%22scaler%22:2,%22styles%22:%22pl%22%7D&sug_forward=ca34ff7e6183e30a2fb90841&device_ratio=2" class="google-map__contact" allowfullscreen=""></iframe>

    </section> -->
    
    <!--Start ContactinfoSection -->   
    <section class="contactinfo" style="margin-top: 20px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4">
                    <!--Contactinfo Single-->
                    <div class="contactinfo-single">
                        <div class="contactinfo-icon">
                            <span class="far fa-envelope-open"></span>
                        </div>
                        <div class="contactinfo-content">
                            <h4>Mail Address</h4>
                            <a href="mailto:info@example.com">info@example.com</a><br>
                            <a href="mailto:info@example.com">info@example.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <!--Contactinfo Single-->
                    <div class="contactinfo-single">
                        <div class="contactinfo-icon">
                            <span class="far fa-phone"></span>
                        </div>
                        <div class="contactinfo-content">
                            <h4>联系电话</h4>
                            <a href="tel:+0713-7110966">+0713-7110966</a><br>
                            <a href="tel:+0713-7110966">+0713-7110966</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <!--Contactinfo Single-->
                    <div class="contactinfo-single">
                        <div class="contactinfo-icon">
                            <span class="far fa-map-pin"></span>
                        </div>
                        <div class="contactinfo-content">
                            <h4>联系我们</h4>
                            <p>湖北省英山县温泉镇汤和夜市街E1-3-202</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End ContactinfoSection --> 
       
    <!--Start Newsletter One Section --> 
    <!-- <section class="newsletter-one-section">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="newsletter-one-sec-inner">
                        <div class="title">
                            <h2>Newsletter Signup</h2>
                            <p>Sign up for our newsletter to get Updte</p>
                        </div>
                        <div class="newsletter-one-input-box">
                            <input type="Email" placeholder="Email Address">
                            <button type="submit" class="button"><i class="fa fa-paper-plane"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!--End Newsletter One Section --> 
        
    <%-include ("public/footer.ejs") %> 