<%-include ("public/header.ejs") %> 
<!-- Bnner Section -->
<section class="banner-section wow fadeIn">
  <div class="swiper-container banner-slider">
      <div class="swiper-wrapper">
          <!-- Slide Item -->
          <div class="swiper-slide" style="background-image: url(public/images/main-slider/3.jpg);">
              <div class="content-outer">
                  <div class="content-box">
                      <div class="inner">
                          <h1> <br> 配置 <br>最新  <span>技术</span></h1>
                          <div class="text">为各大建筑公司提供工程造价技术支持<br>专业是我们的核心</div>
                          <div class="link-box">
                              <a href="/about" class="theme-btn btn-style-one"><span>关于我们</span></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <!-- Slide Item -->
          <div class="swiper-slide" style="background-image: url(public/images/main-slider/2.jpg);">
              <div class="content-outer">
                  <div class="content-box">
                      <div class="inner">
                          <h1>提供 <br> 行业 <br> 服务</h1>
                          <div class="text">为各大建筑公司提供工程造价技术支持<br>专业是我们的核心</div>
                          <div class="link-box">
                              <a href="/about" class="theme-btn btn-style-one"><span>关于我们</span></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
  <div class="banner-slider-nav">
      <div class="banner-slider-control banner-slider-button-prev"><span><i class="far fa-angle-left"></i></span></div>
      <div class="banner-slider-control banner-slider-button-next"><span><i class="far fa-angle-right"></i></span> </div>
  </div>
  <div class="banner-shape__left_1"></div>
  <div class="banner-shape__left_2"></div>
  <div class="banner-big-title" data-parallax='{"x": 200}'>驰骏</div>

</section>
<!-- End Bnner Section -->

<!-- Start Features Two Section   
<section class="features-two-section">
  <div class="container">
      <div class="row">
          <div class="col-lg-3 col-md-6">
              <!--Features One Sec Single
              <div class="features-two-sec-single wow fadeInUp" data-wow-delay="300ms">
                  <div class="features-two-sec-icon">
                      <span class="flaticon-robotic"></span>
                  </div>
                  <h3>公司 <br> 服务理念</h3>
                  <p>勿以事小而轻心<br/>勿以善小而不为<br/><br/></p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <!--Features One Sec Single
              <div class="features-two-sec-single active wow fadeInUp" data-wow-delay="600ms">
                  <div class="features-two-sec-icon">
                      <span class="flaticon-development"></span>
                  </div>
                  <h3>企业<br> 服务宗旨</h3>
                  <p>质量第一<br/>服务第一<br />存好心、说好话、做好人、行好事</p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <!--Features One Sec Single
              <div class="features-two-sec-single wow fadeInUp" data-wow-delay="900ms">
                  <div class="features-two-sec-icon">
                      <span class="flaticon-paint-roller"></span>
                  </div>
                  <h3>程序编制 <br> 与招投标服务</h3>
                  <p>帮助客户编制项目的招投标文件和评标标准，并参与招投标过程，为客户选择合适的承包商和供应商<br/><br/></p>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <!--Features One Sec Single
              <div class="features-two-sec-single wow fadeInUp" data-wow-delay="900ms">
                  <div class="features-two-sec-icon">
                      <span class="flaticon-team"></span>
                  </div>
                  <h3>现场勘测<br> 与测量 </h3>
                  <p>准确评估项目的成本，工程造价公司会进行现场勘测和测量，收集有关项目的实际数据，确保预算的准确性和可靠性</p>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End Features Two Section -->   

<!-- Start About Two Section --> 
<section class="about-tow-section about-page">
  <div class="container">
      <div class="row">
          <div class="col-xl-6">
              <div class="about-two-left-content wow slideInLeft" data-wow-delay="100ms">
                  <div class="about-two-sec-image">
                      <div class="about-two-sec-image-bg-1" style="background-image: url(public/images/about/about-2--pattern-1.png)"></div>
                      <div class="about-two-sec-image-bg-2" style="background-image: url(public/images/about/about-2--pattern-2.png)"></div>
                      <img src="public/images/about/about-page-img-1.jpg" alt="">
                  </div>
              </div>
          </div>
          <div class="col-xl-6">
              <div class="about-two-right-content">
                  <div class="about-two-title">
                      <h4 class="sub-title-shape-left section_title-subheading">关于我们公司</h4>
                      <h2>湖北驰骏工程项目管理有限公司 </h2>
                      <p class="about-two-title-text">
                        由英山县市场监督管理局核准于2021年六月注册登记，是依法设立具有独立法人资格的工程造价咨询、招标代理和政府采购资质的中介机构。公司注册资本贰佰万元，办公场地300平方米。
                      </p><br/>
                      <p class="about-two-title-text">
                        公司自成立以来，始终坚持质量第一、服务第一的企业宗旨，勿以事小而轻心、勿以善小而不为的企业理念，秉承存好心、说好话、做好人、行好事的企业文化，致力于成为受人尊敬的企业而努力。
                        公司现有职员12人，具有中级以上各类专业资格5人(其中:高级工程师2人、工程师3人、），注册造价师等专职人员5人，具有国家建设部颁发的工程造价咨询、工程招标代理和政府采购代理资质。
                      </p>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                          <div class="about-tow-experience-years">
                              <div class="about-tow-experience-years-icon">
                                  <span class="flaticon-check"></span>
                              </div>
                              <div class="about-tow-experience-years-text">
                                  <h2>100% 客户<br> 满意度 </h2>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="about-tow-experience-years">
                              <div class="about-tow-experience-years-icon">
                                  <span class="flaticon-check"></span>
                              </div>
                              <div class="about-tow-experience-years-text">
                                  <h2>专业级 <br> 造价工程师</h2>
                              </div>
                          </div>
                      </div>
                  </div>
                  
                  <div class="about-two-bottom-content">
                      <h3>袁丽 - <span>CEO & 公司创始人</span></h3>
                      <div class="signature">
                          <img src="public/images/about/signature-1.png" alt="">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>    
<!-- End About Two Section --> 

<!--Start Funfacts One Section --> 

<!--End Funfacts One Section -->  

<!--Start Main Service Two Section -->     
<section class="main-service-one-section two">
  <div class="container">
      <div class="thm-section-title text-center">
          <h4 class="sub-title-shape-left section_title-subheading">我们提供什么</h4>
          <h2>我们竭诚为您服务</h2>
      </div>
      <div class="row">
          <div class="col-xl-4 col-lg-4">
              <!--Main Service One Sec Single-->
              <div class="main-service-one-sec-single wow fadeInUp" data-wow-delay="300ms">
                  <div class="main-service-one-sec-img">
                      <img src="public/images/service/service-1-img-1.jpg" alt="">
                  </div>
                  <div class="main-service-one-sec-content">
                      <div class="main-service-one-count">01</div>
                      <div class="main-service-one-icon"><i class="flaticon-mechanical-arm"></i></div>
                      <h3>建设项目服务</h3>
                      <p>建设项目建议书及可行性研究投资、估算、项目经济评价报告的编制和审核</p><br/>
                      <p>建设项目概预算的编制与审核，并配合设计方案比选、优化设计、限额设计等工作进行工程造价分析与控制</p><br/>
                      <p>建设项目合同价款的确定(包括招标工程工程量清单和标底、投标报价的编制和审核)；合同价款的签订与调整(包括工程变更、工程洽商和索赔费用的计算)及工程款支付，工程结算及竣工结(决)算报告的编制与审核等</p>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4">
              <!--Main Service One Sec Single-->
              <div class="main-service-one-sec-single wow fadeInUp" data-wow-delay="600ms">
                  <div class="main-service-one-sec-img">
                      <img src="public/images/service/service-1-img-2.jpg" alt="">
                  </div>
                  <div class="main-service-one-sec-content">
                      <div class="main-service-one-count">02</div>
                      <div class="main-service-one-icon"><i class="flaticon-lab-tool"></i></div>
                      <h3>工程造价服务</h3>
                      <p>提供工程造价信息服务</p><br/>
                      <p>工程造价经济纠纷的鉴定和仲裁咨询</p><br/>
                      <p>对建设项目的组织实施进行全过程或者若干阶段的造价监管</p><br/><br/><br/><br/><br/><br/><br/>
                  </div>
              </div>
          </div>
          <div class="col-xl-4 col-lg-4">
              <!--Main Service One Sec Single-->
              <div class="main-service-one-sec-single wow fadeInUp" data-wow-delay="900ms">
                  <div class="main-service-one-sec-img">
                      <img src="public/images/service/service-1-img-3.jpg" alt="">
                  </div>
                  <div class="main-service-one-sec-content">
                      <div class="main-service-one-count">03</div>
                      <div class="main-service-one-icon"><i class="flaticon-carbon"></i></div>
                      <h3>招标代理业务</h3>
                      <p>可承担工程设计、施工、监理单位的招标代理业务</p><br/>
                      <p>其备政府采购法规定的货物、工程和服务的政府采购代理业务和政府采购咨询服务业务</p><br/><br/><br/><br/><br/><br/><br/>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>  
<!--End Main Service Two Section -->     

<!--Start Team One Section -->   
<section class="team-one-section two">
  <div class="container">
      <div class="thm-section-title text-center">
          <h4 class="sub-title-shape-left section_title-subheading">认识我们的团队</h4>
          <h2>经验丰富的团队成员</h2>
      </div>
      <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-6">
              <!--Team One Single-->
              <div class="team-one-single wow fadeInLeft" data-wow-delay="100ms">
                  <div class="team-one-img">
                      <img src="public/images/team/team-1-img-1.jpg" alt="">
                      <div class="team-one-hover">
                          <div class="team-one-social">
                              <a href="#"><i class="fab fa-facebook-square"></i></a>
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="#"><i class="fab fa-dribbble"></i></a>
                              <a href="#"><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="team-one-content">
                      <h3>David Parker</h3>
                      <p>造价工程师</p>
                  </div>
              </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6">
              <!--Team One Single-->
              <div class="team-one-single wow fadeInLeft" data-wow-delay="200ms">
                  <div class="team-one-img">
                      <img src="public/images/team/team-1-img-2.jpg" alt="">
                      <div class="team-one-hover">
                          <div class="team-one-social">
                              <a href="#"><i class="fab fa-facebook-square"></i></a>
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="#"><i class="fab fa-dribbble"></i></a>
                              <a href="#"><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="team-one-content">
                      <h3>Ricardo Gomez</h3>
                      <p>造价工程师</p>
                  </div>
              </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6">
              <!--Team One Single-->
              <div class="team-one-single wow fadeInLeft" data-wow-delay="300ms">
                  <div class="team-one-img">
                      <img src="public/images/team/team-1-img-3.jpg" alt="">
                      <div class="team-one-hover">
                          <div class="team-one-social">
                              <a href="#"><i class="fab fa-facebook-square"></i></a>
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="#"><i class="fab fa-dribbble"></i></a>
                              <a href="#"><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="team-one-content">
                      <h3>Peter Sandler</h3>
                      <p>造价工程师</p>
                  </div>
              </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-6">
              <!--Team One Single-->
              <div class="team-one-single wow fadeInLeft" data-wow-delay="400ms">
                  <div class="team-one-img">
                      <img src="public/images/team/team-1-img-4.jpg" alt="">
                      <div class="team-one-hover">
                          <div class="team-one-social">
                              <a href="#"><i class="fab fa-facebook-square"></i></a>
                              <a href="#"><i class="fab fa-twitter"></i></a>
                              <a href="#"><i class="fab fa-dribbble"></i></a>
                              <a href="#"><i class="fab fa-instagram"></i></a>
                          </div>
                      </div>
                  </div>
                  <div class="team-one-content">
                      <h3>James Smith</h3>
                      <p>造价工程师</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--End Team One Section --> 

<!--Start Why Choose Two Section --> 
<!-- <section class="why-choose-two-section">
  <div class="container">
      <div class="thm-section-title text-center">
          <h4 class="sub-title-shape-left section_title-subheading">Our Skills</h4>
          <h2>We are Committed to <br> Continuous Improvement</h2>
      </div>
      <div class="row">
          <div class="col-xl-6">
              <div class="why-choose-two-image">
                  <img src="public/images/resource/why-choose-2-img-1.jpg" alt="">
              </div>
          </div>
          <div class="col-xl-6">
              <div class="why-choose-right-content">
                  <div class="most-trusted-skill">
                      <div class="most-trusted-skill-icon">
                          <span class="flaticon-badge"></span>
                      </div>
                      <div class="most-trusted-text">
                          <h3>Most Trusted <br> & Certified Skills</h3>
                          <p>Lorem ipsum dolor amet <br> consectetur adipisicing elit <br> sed eiusmod tempor.</p>
                      </div>
                  </div>
                  <div class="progress-levels">
                      <!--Skill Box-->
                      <!-- <div class="progress-box">
                          <div class="inner count-box">
                              <div class="text">Mechanical</div>
                              <div class="bar">
                                  <div class="bar-innner">
                                      <div class="skill-percent">
                                          <span class="count-text" data-speed="3000" data-stop="90">0</span>
                                          <span class="percent">%</span>
                                      </div>
                                      <div class="bar-fill" data-percent="90"></div>
                                  </div>
                              </div>
                          </div>
                      </div> -->
                      <!--Skill Box-->
                      <!-- <div class="progress-box">
                          <div class="inner count-box">
                              <div class="text">Agriculture</div>
                              <div class="bar">
                                  <div class="bar-innner">
                                      <div class="skill-percent">
                                          <span class="count-text" data-speed="3000" data-stop="80">0</span>
                                          <span class="percent">%</span>
                                      </div>
                                      <div class="bar-fill" data-percent="80"></div>
                                  </div>
                              </div>
                          </div>
                      </div> -->
                      <!--Skill Box-->
                      <!-- <div class="progress-box">
                          <div class="inner count-box">
                              <div class="text">Chemical</div>
                              <div class="bar">
                                  <div class="bar-innner">
                                      <div class="skill-percent">
                                          <span class="count-text" data-speed="3000" data-stop="85">0</span>
                                          <span class="percent">%</span>
                                      </div>
                                      <div class="bar-fill" data-percent="85"></div>
                                  </div>
                              </div>
                          </div>
                      </div> -->
                  <!-- </div>
              </div>
          </div>
      </div>
  </div> -->
<!-- </section> --> 
<!--End Why Choose Two Section -->

<!--Start video Two Section --> 
<!-- <section class="video-two-section" style="background-image: url(public/images/background/video-sec-two-bg.jpg)">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="video-two-sec-inner">
                  <div class="video-two-sec-icon">
                      <a href="https://www.youtube.com/watch?v=i9E_Blai8vk" class="video-two-sec-btn video-popup"><i class="fa fa-play"></i></a>
                  </div>
                  <div class="video-two-sec-content">
                      <h2>我们提供最好的 <span>行业服务</span> <br> 20年以上行业经验</h2>
                      <p>专业工程造价技术 </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> -->
<!--End video Two Section --> 

<!--Start Latest Projects One Section -->
<!-- <section class="latest-projects-one-section">
  <div class="latest-projects-one-bg" style="background-image: url(public/images/background/project-1-bg.png)"></div>
  <div class="container">
      <div class="row">
          <div class="col-xl-4">
              <div class="latest-pro-one-title">
                  <h4 class="sub-title-shape-left section_title-subheading">行业领域</h4>
                  <h2>我们的行业能力</h2>
                  <p>为客户提供全方位的成本管理和咨询支持，确保工程项目按时、高质量地完成，并在成本控制和风险管理方面做出最佳决策</p>
              </div>
          </div>
          <div class="col-xl-4">
              <div class="latest-pro-one-single">
                  <div class="latest-pro-one-img-box">
                      <img src="public/images/project/project-1-img-1.jpg" alt="">
                      <div class="latest-pro-one-img-title">
                          <div class="content"><h5><a href="#">Metal & Materials</a></h5></div>
                          <div class="icon"><a class="img-popup" href="public/images/project/project-1-img-1.jpg"><span class="flaticon-plus"></span></a></div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-xl-4">
              <div class="latest-pro-one-single">
                  <div class="latest-pro-one-img-box">
                      <img src="public/images/project/project-1-img-2.jpg" alt="">
                      <div class="latest-pro-one-img-title">
                          <div class="content"><h5><a href="#">Welding Industry</a></h5></div>
                          <div class="icon"><a class="img-popup" href="public/images/project/project-1-img-1.jpg"><span class="flaticon-plus"></span></a></div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> -->
<!--Start Latest Projects One Section -->
  
<!--Start Testimonials One Section --> 
<!-- <section class="testimonials-one-section two" style="background-image: url(public/images/background/video-sec-two-bg.jpg)">
  <div class="container">
      <div class="thm-section-title text-center">
          <h4 class="sub-title-shape-left section_title-subheading">感言</h4>
          <h2>我们受到 <br>
          25 +客户认可</h2>
      </div>
      <div class="row">
          <div class="col-xl-12">
              <div class="testimonials-one-carousel owl-theme owl-carousel">
                  <!--Testimonials One Single-
                  <div class="testimonials-one-single">
                      <div class="client-info">
                          <div class="client-img">
                              <img src="public/images/testimonial/testi-img-1.png" alt="">
                          </div>
                          <div class="client-content">
                              <h3>碧桂园</h3>
                              <h6>开发商</h6>
                          </div>
                      </div>
                      <div class="text-box">
                          <p>天诚公司以其专业知识、丰富经验、技术工具和专业团队，为客户提供全方位的成本管理和咨询服务，帮助客户实现项目目标，控制成本，提高经济效益 </p>
                      </div>
                      <div class="testimonials-quote">
                          <i class="fa fa-quote-left"></i>
                      </div>
                  </div>
                  <!--Testimonials One Single-
                  <div class="testimonials-one-single">
                      <div class="client-info">
                          <div class="client-img">
                              <img src="public/images/testimonial/testi-img-2.png" alt="">
                          </div>
                          <div class="client-content">
                              <h3>万达</h3>
                              <h6>开发商</h6>
                          </div>
                      </div>
                      <div class="text-box">
                          <p>天诚公司以其专业知识、丰富经验、技术工具和专业团队，为客户提供全方位的成本管理和咨询服务，帮助客户实现项目目标，控制成本，提高经济效益 </p>
                      </div>
                      <div class="testimonials-quote">
                          <i class="fa fa-quote-left"></i>
                      </div>
                  </div>
                  <!--Testimonials One Single-
                  <div class="testimonials-one-single">
                      <div class="client-info">
                          <div class="client-img">
                              <img src="public/images/testimonial/testi-img-3.png" alt="">
                          </div>
                          <div class="client-content">
                              <h3>中国建筑设计院</h3>
                              <h6>设计院</h6>
                          </div>
                      </div>
                      <div class="text-box">
                          <p>天诚公司以其专业知识、丰富经验、技术工具和专业团队，为客户提供全方位的成本管理和咨询服务，帮助客户实现项目目标，控制成本，提高经济效益</p>
                      </div>
                      <div class="testimonials-quote">
                          <i class="fa fa-quote-left"></i>
                      </div>
                  </div>
                  <!--Testimonials One Single-
                  <div class="testimonials-one-single">
                      <div class="client-info">
                          <div class="client-img">
                              <img src="public/images/testimonial/testi-img-1.png" alt="">
                          </div>
                          <div class="client-content">
                              <h3>保利</h3>
                              <h6>开发商</h6>
                          </div>
                      </div>
                      <div class="text-box">
                          <p>天诚公司以其专业知识、丰富经验、技术工具和专业团队，为客户提供全方位的成本管理和咨询服务，帮助客户实现项目目标，控制成本，提高经济效益</p>
                      </div>
                      <div class="testimonials-quote">
                          <i class="fa fa-quote-left"></i>
                      </div>
                  </div>
                  <!--Testimonials One Single-
                  <div class="testimonials-one-single">
                      <div class="client-info">
                          <div class="client-img">
                              <img src="public/images/testimonial/testi-img-2.png" alt="">
                          </div>
                          <div class="client-content">
                              <h3>龙湖</h3>
                              <h6>开发商</h6>
                          </div>
                      </div>
                      <div class="text-box">
                        <p>天诚公司以其专业知识、丰富经验、技术工具和专业团队，为客户提供全方位的成本管理和咨询服务，帮助客户实现项目目标，控制成本，提高经济效益</p>
                    </div>
                      <div class="testimonials-quote">
                          <i class="fa fa-quote-left"></i>
                      </div>
                  </div>
                  <!--Testimonials One Single-
                  <div class="testimonials-one-single">
                      <div class="client-info">
                          <div class="client-img">
                              <img src="public/images/testimonial/testi-img-3.png" alt="">
                          </div>
                          <div class="client-content">
                              <h3>龙湖</h3>
                              <h6>开发商</h6>
                          </div>
                      </div>
                      <div class="text-box">
                        <p>天诚公司以其专业知识、丰富经验、技术工具和专业团队，为客户提供全方位的成本管理和咨询服务，帮助客户实现项目目标，控制成本，提高经济效益</p>
                    </div>
                      <div class="testimonials-quote">
                          <i class="fa fa-quote-left"></i>
                      </div>
                  </div>
                  <!--Testimonials One Single-
                  <div class="testimonials-one-single">
                      <div class="client-info">
                          <div class="client-img">
                              <img src="public/images/testimonial/testi-img-1.png" alt="">
                          </div>
                          <div class="client-content">
                              <h3>金地</h3>
                              <h6>开发商</h6>
                          </div>
                      </div>
                      <div class="text-box">
                        <p>天诚公司以其专业知识、丰富经验、技术工具和专业团队，为客户提供全方位的成本管理和咨询服务，帮助客户实现项目目标，控制成本，提高经济效益</p>
                        </div>
                      <div class="testimonials-quote">
                          <i class="fa fa-quote-left"></i>
                      </div>
                  </div>
                  <!--Testimonials One Single-
                  <div class="testimonials-one-single">
                      <div class="client-info">
                          <div class="client-img">
                              <img src="public/images/testimonial/testi-img-2.png" alt="">
                          </div>
                          <div class="client-content">
                              <h3>金地</h3>
                              <h6>开发商</h6>
                          </div>
                      </div>
                      <div class="text-box">
                        <p>天诚公司以其专业知识、丰富经验、技术工具和专业团队，为客户提供全方位的成本管理和咨询服务，帮助客户实现项目目标，控制成本，提高经济效益</p>
                        </div>
                      <div class="testimonials-quote">
                          <i class="fa fa-quote-left"></i>
                      </div>
                  </div>
                  <!--Testimonials One Single
                  <div class="testimonials-one-single">
                      <div class="client-info">
                          <div class="client-img">
                              <img src="public/images/testimonial/testi-img-3.png" alt="">
                          </div>
                          <div class="client-content">
                              <h3>Mark Joseph</h3>
                              <h6>Developer</h6>
                          </div>
                      </div>
                      <div class="text-box">
                        <p>天诚公司以其专业知识、丰富经验、技术工具和专业团队，为客户提供全方位的成本管理和咨询服务，帮助客户实现项目目标，控制成本，提高经济效益</p>
                        </div>
                      <div class="testimonials-quote">
                          <i class="fa fa-quote-left"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> -->
<!--End Testimonials One Section --> 
  
<!--Start Blog One Section -->

<!--End Blog One Section --> 

<!--Start Brand One Section -->     
<div class="brand-one">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="brand-one-carousel owl-carousel">
                  <div class="single_brand_item">
                      <a href="#"><img src="public/images/brand/brand-1-1.jpg" alt="brand"></a>
                  </div>
                  <div class="single_brand_item">
                      <a href="#"><img src="public/images/brand/brand-1-2.jpg" alt="brand"></a>
                  </div>
                  <div class="single_brand_item">
                      <a href="#"><img src="public/images/brand/brand-1-3.jpg" alt="brand"></a>
                  </div>
                  <div class="single_brand_item">
                      <a href="#"><img src="public/images/brand/brand-1-4.jpg" alt="brand"></a>
                  </div>
                  <div class="single_brand_item">
                      <a href="#"><img src="public/images/brand/brand-1-5.jpg" alt="brand"></a>
                  </div>
                  <div class="single_brand_item">
                      <a href="#"><img src="public/images/brand/brand-1-1.jpg" alt="brand"></a>
                  </div>
                  <div class="single_brand_item">
                      <a href="#"><img src="public/images/brand/brand-1-2.jpg" alt="brand"></a>
                  </div>
                  <div class="single_brand_item">
                      <a href="#"><img src="public/images/brand/brand-1-3.jpg" alt="brand"></a>
                  </div>
                  <div class="single_brand_item">
                      <a href="#"><img src="public/images/brand/brand-1-4.jpg" alt="brand"></a>
                  </div>
                  <div class="single_brand_item">
                      <a href="#"><img src="public/images/brand/brand-1-5.jpg" alt="brand"></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
  <!--End Brand One Section -->  
  <%-include ("public/footer.ejs") %> 