<%-include ("public/header.ejs") %> 

<!--Start Page Header Section-->
<section class="page-header" style="background-image: url(public/images/background/page-header-bg.jpg);">
    <div class="container">
        <h2>公司项目</h2>
    </div>
</section>
<!--End Page Header Section-->


<!--Start Blog Classic Section-->
<section class="blog-classic-section blog-classic-custom">
    <div class="container">
        <ul class="thm-breadcrumb project-desc">
            <li><span>英山分公司成立于2021年1月29日，凭资质范围承接相关业务：工程概算、预算、结算竣工结（决算）、工程招标标底、投标标价的编制及审核、工程造价咨询、工程招标代理、政府采购代理并提供工程造价信息咨询等相关业务。成立后已接洽业务如下：
            </span></li>
        </ul>
        
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="blog-classic-content">
                    <!--Blog Classic Single-->
                    <div class="blog-classic-single">
                        <div class="blog-classic-image">
                            <img src="public/images/Blog/blog-classic-img-1.jpg" alt="">
                            <div class="blog-classic-date">
                                <a href="#">05月02日, 2021</a>
                            </div>
                        </div>
                        <div class="blog-classic-content-box">
                            <!-- <ul class="blog-classic-meta">
                                <li><a href="#"><i class="far fa-user-circle"></i> Admin</a></li>
                                <li><a href="#"><i class="far fa-comments"></i> 2 Comments</a>
                                </li>
                            </ul> -->
                            <div class="blog-classic-title">
                                <h3><a href="#">湖北省英山县理工中等专业学校4号学生宿舍楼工程</a></h3>
                            </div>
                            <div class="blog-classic-text">
                                <p> 全过程跟踪审计服务，工程规模约1000万元</p>
                            </div>
                            <!-- <div class="blog-classic-btn">
                                <a href="#">Read More <i class="fa fa-arrow-circle-right"></i>/a>
                            </div> -->
                        </div>
                    </div>
                    <!--Blog Classic Single-->
                    <div class="blog-classic-single">
                        <div class="blog-classic-image">
                            <img src="public/images/Blog/blog-classic-img-2.jpg" alt="">
                            <div class="blog-classic-date">
                                <a href="#">05月02日, 2021</a>
                            </div>
                        </div>
                        <div class="blog-classic-content-box">
                            <div class="blog-classic-title">
                                <h3><a href="#">英山县中央公园（海绵工程一期）建设项目工程</a></h3>
                            </div>
                            <div class="blog-classic-text">
                                <p>总承包（EPC）工程全过程跟踪审计服务，工程规模约4500万元</p>
                            </div>

                        </div>
                    </div>
                    <!--Blog Classic Single-->
                    <div class="blog-classic-single">
                        <div class="blog-classic-image">
                            <img src="public/images/Blog/blog-classic-img-2.jpg" alt="">
                            <div class="blog-classic-date">
                                <a href="#">05月02日, 2021</a>
                            </div>
                        </div>
                        <div class="blog-classic-content-box">
                            <div class="blog-classic-title">
                                <h3><a href="#">英山县中央公园（海绵工程一期）建设项目工程</a></h3>
                            </div>
                            <div class="blog-classic-text">
                                <p>总承包（EPC）工程全过程跟踪审计服务，工程规模约4500万元</p>
                            </div>

                        </div>
                    </div>
                    <!--Blog Classic Single-->
                    <div class="blog-classic-single">
                        <div class="blog-classic-image">
                            <img src="public/images/Blog/blog-classic-img-2.jpg" alt="">
                            <div class="blog-classic-date">
                                <a href="#">05月02日, 2021</a>
                            </div>
                        </div>
                        <div class="blog-classic-content-box">
                            <div class="blog-classic-title">
                                <h3><a href="#">英山县思源实验学校（食堂宿舍改扩建）工程</a></h3>
                            </div>
                            <div class="blog-classic-text">
                                <p>变更、附属增加项目，送审金额789054.68元</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="sidebar">
                    <div class="sidebar-single sidebar-search">
                       <h3 class="sidebar-title">搜索</h3>
                        <form action="#" class="sidebar-search-form">
                            <input type="search" placeholder="Search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="sidebar-single sidebar-category">
                        <h3 class="sidebar-title">类别</h3>
                        <ul class="sidebar-category-list">
                            <li><a href="#"><i class="fa fa-angle-right"></i> 工程造价全过程监管项目 <span>(6)</span></a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> 工程竣工结算审核（受英山县审计局委托）项目 <span>(12)</span></a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> 工程结算审核项目 <span>(12)</span></a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> 工程竣工结算编制项目 <span>(2)</span></a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> 工程招标控制价编制项目 <span>(9)</span></a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> 工程招投标代理、政府采购项目及文件编制 <span>(18)</span></a></li>
                        </ul>
                    </div>
                    <!-- <div class="sidebar-single sidebar-latest-news">
                        <h3 class="sidebar-title">Latest Posts</h3>
                        <ul class="sidebar-latest-news-list">
                            <li>
                                <div class="sidebar-latest-news-image">
                                    <img src="public/images/blog/ln-1.jpg" alt="">
                                </div>
                                <div class="sidebar-latest-news-content">
                                   <h3><a href="#">Manufacturer might have a financing</a></h3>
                                   <p>02 May, 2020</p> 
                                </div>
                            </li>
                            <li>
                                <div class="sidebar-latest-news-image">
                                    <img src="public/images/blog/ln-2.jpg" alt="">
                                </div>
                                <div class="sidebar-latest-news-content">
                                   <h3><a href="#">Manufacturer might have a financing</a></h3>
                                   <p>02 May, 2020</p> 
                                </div>
                            </li>
                            <li>
                                <div class="sidebar-latest-news-image">
                                    <img src="public/images/blog/ln-3.jpg" alt="">
                                </div>
                                <div class="sidebar-latest-news-content">
                                   <h3><a href="#">Manufacturer might have a financing</a></h3>
                                   <p>02 May, 2020</p> 
                                </div>
                            </li>
                        </ul>
                    </div> -->
                    <!-- <div class="sidebar-single sidebar-archive">
                        <h3 class="sidebar-title">Archive</h3>
                        <ul class="sidebar-archive-list">
                            <li><a href="#"><i class="fa fa-angle-right"></i> Construcation></a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> factory</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Electrical</a></li>
                            <li><a href="#"><i class="fa fa-angle-right"></i> Electrical</a></li>
                        </ul>
                    </div> -->
                    <!-- <div class="sidebar-single sidebar-instagram">
                        <h3 class="sidebar-title">Instagram</h3>
                        <ul class="sidebar-instagram-list">
                            <li>
                                <div class="instagram-img">
                                    <img src="public/images/Blog/instagram-img-1.jpg" alt="">
                                    <div class="sidebar-instagram-img-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="instagram-img">
                                    <img src="public/images/Blog/instagram-img-2.jpg" alt="">
                                    <div class="sidebar-instagram-img-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="instagram-img">
                                    <img src="public/images/Blog/instagram-img-3.jpg" alt="">
                                    <div class="sidebar-instagram-img-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="instagram-img">
                                    <img src="public/images/Blog/instagram-img-4.jpg" alt="">
                                    <div class="sidebar-instagram-img-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="instagram-img">
                                    <img src="public/images/Blog/instagram-img-5.jpg" alt="">
                                    <div class="sidebar-instagram-img-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="instagram-img">
                                    <img src="public/images/Blog/instagram-img-6.jpg" alt="">
                                    <div class="sidebar-instagram-img-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="sidebar-single sidebar-tag">
                        <h3 class="sidebar-title">Product Tags</h3>
                        <div class="sidebar-tags-list">
                            <a href="#">factory</a>
                            <a href="#">Metal</a>
                            <a href="#">Engine</a>
                            <a href="#">Construction</a>
                            <a href="#">Agriculture</a>
                            <a href="#">Mechanical</a>
                            <a href="#">Energy</a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="blog-pg-pagination blog-pg-classic">
                    <ul class="pg-pagination">
                        <li class="previous">
                            <a href="#" aria-label="Previous"><i class="fa fa-arrow-circle-left"></i></a>
                        </li>
                        <li class="count"><a href="#">01</a></li>
                        <li class="count"><a href="#">02</a></li>
                        <li class="count"><a href="#">03</a></li>
                        <li class="next">
                            <a href="#" aria-label="Next"><i class="fa fa-arrow-circle-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Blog Classic Section-->
   
<!--Start Newsletter One Section --> 
∂
     
<!--End Newsletter One Section --> 
    
<%-include ("public/footer.ejs") %> 